ROOT=$( dirname "$( readlink "${BASH_SOURCE[0]}" )" )
git submodule update --init --recursive --quiet
if [ ! -f "${ROOT}/venv/bin/activate" ]; then
	echo -n "Creating venv..."
	virtualenv --quiet --python=python2.7 venv
	echo " done."
fi
. "${ROOT}/venv/bin/activate"
echo -n "Updatting python modules"
pip install --quiet --requirement "${ROOT}/requirements.txt"
echo " done."
