---
nfs:
  server: {{ share.server }}
  path: {{ share.path }}
storageClass:
  name: {{ share.class }}
  defaultClass: {{ share.default }}
  archiveOnDelete: false
resources:
  requests:
    cpu: 50m
...
