---
serviceType: NodePort
service:
  nodePorts:
    http: 30080
    https: 30443
dashboard:
  enabled: true
  domain: {{ traefik_dashboard_domain }}
rbac:
  enabled: true
ssl:
  insecureSkipVerify: true
...
